<h1>Dumenu įkėlimas</h1>

<form method="POST" action="submit">
    <p>
        <label>Pavadinimas</label>
        <input type="text" name="pavadinimas" value="">
    </p>
    <p>
        <label>Turinys</label>
        <textarea name="turinys"></textarea>
    </p>
    <p>
        <label>Data</label>
        <input type="date" name="data" value="{{date}}">
    </p>
        <input type="submit" value="Pridėti įrašą">
</form>
<a href="/irasai">Visi įrašai</a>