<h1>Įrašo paieška</h1>

<form method="POST" action="/irasai/paieska">

    <p>
        <input type="text" name="paieska">
    </p>
        <input type="submit" value="Ieškoti">

</form>

<a href="/irasai">Visi įrašai</a>